<!DOCTYPE html>
<html>
<head>
    <title>League of Legends Anki - Patch {{ patch_version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="index-container">
        <h1>LoLAnki - Patch {{ patch_version }}</h1>
        <a href="/quiz_a" class="index-link">AAAAAAAAAAAAAAAA</a><br>
        <a href="/quiz_b" class="index-link">B</a>
    </div>
</body>
<footer>
    <p>&copy; 2024 LoLAnki. All rights reserved.</p>
</footer>
</html>
