<!DOCTYPE html>
<html>
<head>
    <title>League of Legends Anki - Patch {{ patch_version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
    function copyTextAndShowInlineMessage() {
        var text = "連続正解回数: {{ previous_consecutive_correct_answers }}回\n#lolanki\n#lolanki_b\n\nhttps://www.lolanki.com/";
        navigator.clipboard.writeText(text).then(function() {
            var message = document.getElementById("inline-message");
            message.textContent = "Copied!";
            message.style.display = "block";
            setTimeout(function() { message.style.display = "none"; }, 5000);
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }
    </script>
</head>
<body>
    <a href="/" class="back-link">TOP</a>

    <div class="container">
        <h1>{{ patch_version }}</h1>
        <p> <strong>{{ item['name'] }}</strong> の価格を答えよ：</p>
        <img src="https://ddragon.leagueoflegends.com/cdn/{{ patch_version }}/img/item/{{ item['image']['full'] }}" alt="{{ item['name'] }}" class="item-image">
        <form method="post" autocomplete="off">
            <input type="number" name="price" placeholder="半角数字を入力" {% if submitted == False %}autofocus{% endif %}>
            <input type="submit" value="回答">
        </form>

        {% if result %}
        <div>
            <p>{{ result }}</p>
            <button id="nextQuestionButton" onclick="location.href='/next_question_b'">次の問題を表示する</button>
        </div>
        <script>
            // Enterキーが押されたときに「次の問題を表示する」ボタンをクリックする
            document.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    document.getElementById('nextQuestionButton').click();
                }
            });
        </script>
        {% endif %}
        

        {% if submitted == False %}

        <!-- タイマー表示 -->
        <div id="timer">8</div>

        <script>
            // タイマーの開始
            var timeLeft = 8; // 制限時間（秒）
            var timerId = setInterval(function() {
                timeLeft--;
                document.getElementById('timer').textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(timerId);
                    document.querySelector('input[type="submit"]').click(); // 回答ボタンを自動クリック
                }
            }, 1000);
        </script>

        {% endif %}
        
        
        <div>
            <p>連続正解回数：{{ consecutive_correct_answers }}</p>
        </div>

        {% if is_correct == False %}
        <div>
            <p>前問までの連続正解回数：{{ previous_consecutive_correct_answers }}</p>
            <div class="share-container">
                <button onclick="copyTextAndShowInlineMessage()">Share</button>
                <p id="inline-message" style="display: none;">Copied!</p>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
