<!DOCTYPE html>
<html>
<head>
    <title>League of Legends Item Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
    function copyTextAndShowInlineMessage() {
        var text = "連続正解回数: {{ previous_consecutive_correct_answers }}回\n\nhttps://dashboard.heroku.com/apps/young-badlands-33932/deploy/heroku-git";
        navigator.clipboard.writeText(text).then(function() {
            var message = document.getElementById("inline-message");
            message.textContent = "Copied!";
            message.style.display = "block";
            setTimeout(function() { message.style.display = "none"; }, 5000);
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }
    </script>
</head>
<body>
    <div class="container">
        <h1>14.6</h1>
        <h2>{{ item['name'] }}</h2>
        <img src="{{ item['image_url'] }}" alt="{{ item['name'] }}" class="item-image">

        <p> <strong>{{ item['name'] }}</strong> の合成先アイテムをすべて選択しなさい:</p>

        <form method="post" class="quiz-form">
            {% for item in answer_marks %}
            <div class="form-group">
                <input type="checkbox" id="{{ item.name }}" name="answer" value="{{ item.name }}" {% if item.checked %}checked{% endif %}>
                <label for="{{ item.name }}">
                    {% if submitted %}
                    <!-- 正解か不正解かに応じてマークを表示 -->
                    {% if item.is_correct %}
                    <span style="color: green;">○</span>
                    {% else %}
                    <span style="color: red;">×</span>
                    {% endif %}
                    {% endif %}
                    {{ item.name }}
                </label><br>
            </div>
            {% endfor %}
            <input type="submit" value="回答" {% if submitted %}disabled{% endif %}>
        </form>

        {% if result %}
        <div>
            <p>{{ result }}</p>
            <button onclick="location.href='/next_question'">次の問題を表示する</button>
        </div>
        {% endif %}

        {% if submitted == False %}

        <!-- タイマー表示 -->
        <div id="timer">30</div>

        <script>
            // タイマーの開始
            var timeLeft = 30; // 制限時間（秒）
            var timerId = setInterval(function() {
                timeLeft--;
                document.getElementById('timer').textContent = timeLeft;
                if (timeLeft <= 0) {
                    clearInterval(timerId);
                    document.querySelector('.quiz-form').submit(); // フォームの自動送信
                }
            }, 1000);
        </script>

        {% endif %}
        
        
        <div>
            <p>連続正解回数：{{ consecutive_correct_answers }}</p>
        </div>

        {% if result == "(´・ω・`)" %}
        <div>
            <p>前問までの連続正解回数：{{ previous_consecutive_correct_answers }}</p>
            <div class="share-container">
                <button onclick="copyTextAndShowInlineMessage()">Share</button>
                <p id="inline-message" style="display: none;">Copied!</p>
            </div>
        </div>
        {% endif %}

    </div>
</body>
</html>
